<ion-view title="Leagues">
    <ion-content>
        <div>
            <label>League Name:
                <input type="text" ng-model="league.name" />
            </label>
            <button type="button" class="button button-positive button-block" ng-click="createLeague()">Create League</button>
        </div>

        <ion-list>
          <ion-item ng-repeat="league in leagues" class="league-item" href="#/league/{{league._id}}">
            {{league.name}}<br />
          </ion-item>
        </ion-list>
    </ion-content>
</ion-view>