<ion-view title="{{game.name}}" >
    <ion-content has-header="true" padding="true">
        <div class="card">
            <div class="item item-divider">
                Add user
            </div>
            <select ng-model="userToAdd" ng-options="user.firstName for user in availableUsers"></select>
        </div>
        <div class="content padding">
            <button type="button" class="button button-positive button-block" ng-click="addUser(userToAdd)">
                Add User
            </button>
        </div>


        <ion-list>
          <ion-item ng-repeat="user in users" class="message-item">
            <user-item user="user"></user-item>
          </ion-item>
        </ion-list>
    </ion-content>
</ion-view>