<ion-view title="Games">
    <ion-content>
        <div>
            <label>Game Name:
                <input type="text" ng-model="game.name" />
            </label>
            <button type="button" class="button button-positive button-block" ng-click="createGame()">Create Game</button>
        </div>

        <ion-list>
          <ion-item ng-repeat="game in games" class="game-item" href="#/game/{{game._id}}">
            {{game.name}}<br />
          </ion-item>
        </ion-list>
    </ion-content>
</ion-view>