<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/common/controllers/app.js"></script>
    <script src="js/auth/controllers/login.js"></script>
    <script src="js/auth/controllers/logout.js"></script>
    <script src="js/auth/services/auth.js"></script>
    <script src="js/league/controllers/league-detail.js"></script>
    <script src="js/league/controllers/league-list.js"></script>
    <script src="js/league/services/league.js"></script>
    <script src="js/game/controllers/game-detail.js"></script>
    <script src="js/game/controllers/game-list.js"></script>
    <script src="js/game/services/game.js"></script>
    <script src="js/user/controllers/user-list.js"></script>
    <script src="js/user/controllers/user-detail.js"></script>
    <script src="js/user/directives/user-item.js"></script>
    <script src="js/user/services/user.js"></script>
    <script src="js/common/directives/opp-timer.js"></script>
    <script src="js/common/directives/stroke-counter.js"></script>
    <script src="js/common/services/opp-socket.js"></script>
    <script src="lib/angular-resource/angular-resource.min.js"></script>
    <script src="lib/socket.io-client/socket.io.js"></script>
    <script src="lib/angular-http-auth/src/http-auth-interceptor.js"></script>
  </head>
  <body ng-app="tableTennis" ng-controller="AppCtrl">

    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-nav-view></ion-nav-view>

    <ion-tabs class="tabs-positive tabs-icon-top">

        <!-- Leagues Tab -->
        <ion-tab title="Leagues" icon="icon ion-heart" ng-click="navigateTo('leagues',{},{reload: true})">
          <ion-nav-view name="league-list"></ion-nav-view>
        </ion-tab>

        <!-- Games Tab -->
        <ion-tab title="Games" icon="icon ion-heart" ng-click="navigateTo('games',{},{reload: true})">
          <ion-nav-view name="game-list"></ion-nav-view>
        </ion-tab>

        <!-- Users Tab -->
        <ion-tab title="Users" icon="icon ion-heart" ng-click="navigateTo('users',{},{reload: true})">
          <ion-nav-view name="user-list"></ion-nav-view>
        </ion-tab>

      </ion-tabs>
  </body>
</html>
