<ion-view title="Users">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="user in users" class="user-item" href="#/user/{{user._id}}">
        {{user.firstName}}<br />
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
