 <ion-content has-header="true" padding="true">
    {{user.firstName}} {{user.lastName}}
    <br />
    <stroke-counter current-strokes="gameUser.currentStrokes"></stroke-counter>
    <opp-timer current-time="gameUser.currentTime"></opp-timer>
</ion-content>