<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{user.userName}}">
  <ion-content has-header="true" padding="true">
  {{user.firstName}} {{user.lastName}}
  <br />
  <opp-timer></opp-timer>
  </ion-content>

</ion-view>
