
<div class="modal" ng-controller="LoginCtrl">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Login</h1>
    </ion-header-bar>
    <ion-content has-header="true" padding="true">
        <div class="content padding">
            <label>Username: <input type="text" ng-model="user.username"></label><br />
            <label>Password: <input type="text" ng-model="user.password"></label><br />
            <button type="button" class="button button-positive button-block" ng-click="login()">Login</button>
        </div>
    </ion-content>
</div>
